In [84]:
import pandas as pd
import numpy as np

In [85]:
True_news = pd.read_csv("F:\\vs code\\archive\\True.csv")
Fake_news = pd.read_csv("F:\\vs code\\archive\\Fake.csv")
True_news

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [86]:
True_news["label"]=0
Fake_news["label"]=1

In [87]:
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [88]:
Fake_news

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [89]:
dataset1 = True_news[["text","label"]]
dataset2 = Fake_news[["text","label"]]

In [90]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [91]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [92]:
dataset =pd.concat([dataset1,dataset2])

In [93]:
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [94]:
dataset.shape

(44898, 2)

In [95]:
#check for null values
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [96]:
dataset["label"].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [97]:
#shuffeling the data set
dataset = dataset.sample(frac = 1)
dataset

                                                    text  label
689    (Reuters) - The U.S wind energy industry on Fr...      0
3316   It s no secret that Trump s  drain the swamp  ...      1
1617   SEOUL/TOKYO (Reuters) - Detonating a nuclear-t...      0
6663   WASHINGTON (Reuters) - Eleven men who have hel...      0
13015  Colin Powell really doesn t disclose anything ...      1
...                                                  ...    ...
10333  Leonardo DiCaprio is one of the most outspoken...      1
20800  Perhaps the pundits should start changing cour...      1
10776  Alan Dershowitz schools his former student Jef...      1
11892  This is only Part I of a series of undercover ...      1
2467   SAVONLINNA, Finland (Reuters) - President Vlad...      0

[44898 rows x 2 columns]

In [98]:
import nltk
import re
from nltk.corpus import stopwords
from  nltk.stem import WordNetLemmatizer

In [99]:
ps = WordNetLemmatizer()

In [100]:
stopwords = stopwords.words("english")

In [101]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Sridi\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [102]:
dataset["text"]

689      (Reuters) - The U.S wind energy industry on Fr...
3316     It s no secret that Trump s  drain the swamp  ...
1617     SEOUL/TOKYO (Reuters) - Detonating a nuclear-t...
6663     WASHINGTON (Reuters) - Eleven men who have hel...
13015    Colin Powell really doesn t disclose anything ...
                               ...
10333    Leonardo DiCaprio is one of the most outspoken...
20800    Perhaps the pundits should start changing cour...
10776    Alan Dershowitz schools his former student Jef...
11892    This is only Part I of a series of undercover ...
2467     SAVONLINNA, Finland (Reuters) - President Vlad...
Name: text, Length: 44898, dtype: object

In [103]:
def clean_row(row):
    row = row.lower()
    row = re.sub("[^a-zA-Z]","   ",row)
    
    token = row.split()
    news = [ps.lemmatize(word) for word in token if not word in stopwords]
    
    cleaned_news ="  ".join(news)
    return cleaned_news

In [104]:
dataset["text"]

689      (Reuters) - The U.S wind energy industry on Fr...
3316     It s no secret that Trump s  drain the swamp  ...
1617     SEOUL/TOKYO (Reuters) - Detonating a nuclear-t...
6663     WASHINGTON (Reuters) - Eleven men who have hel...
13015    Colin Powell really doesn t disclose anything ...
                               ...
10333    Leonardo DiCaprio is one of the most outspoken...
20800    Perhaps the pundits should start changing cour...
10776    Alan Dershowitz schools his former student Jef...
11892    This is only Part I of a series of undercover ...
2467     SAVONLINNA, Finland (Reuters) - President Vlad...
Name: text, Length: 44898, dtype: object

In [105]:
dataset["text"] = dataset["text"].apply(lambda x :clean_row(x))

In [106]:
dataset["text"]

689      reuters  u  wind  energy  industry  friday  ch...
3316     secret  trump  drain  swamp  shtick  b  since ...
1617     seoul  tokyo  reuters  detonating  nuclear  ti...
6663     washington  reuters  eleven  men  held  consid...
13015    colin  powell  really  disclose  anything  kno...
                               ...
10333    leonardo  dicaprio  one  outspoken  advocate  ...
20800    perhaps  pundit  start  changing  course  meas...
10776    alan  dershowitz  school  former  student  jef...
11892    part  series  undercover  video  group  organi...
2467     savonlinna  finland  reuters  president  vladi...
Name: text, Length: 44898, dtype: object

In [107]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [108]:
vectorizer = TfidfVectorizer(max_features = 5000,lowercase=False,ngram_range=(1,2))

In [109]:

x = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [110]:
x

689      reuters  u  wind  energy  industry  friday  ch...
3316     secret  trump  drain  swamp  shtick  b  since ...
1617     seoul  tokyo  reuters  detonating  nuclear  ti...
6663     washington  reuters  eleven  men  held  consid...
13015    colin  powell  really  disclose  anything  kno...
                               ...
4782     former  house  speaker  trump  supporter  newt...
6558     washington  reuters  lockheed  martin  corp  a...
18901    berlin  reuters  german  chancellor  angela  m...
757      tuesday  trump  nominee  lead  doj  criminal  ...
1398     amount  corruption  seen  donald  trump  rise ...
Name: text, Length: 35000, dtype: object

In [111]:
y

689      0
3316     1
1617     0
6663     0
13015    1
        ..
4782     1
6558     0
18901    0
757      1
1398     1
Name: label, Length: 35000, dtype: int64

In [112]:
from sklearn.model_selection import train_test_split

In [113]:
train_data ,test_data,train_label,test_label = train_test_split(x,y,test_size=0.2,random_state=0)

In [114]:
vec_train_data = vectorizer.fit_transform(train_data)

In [115]:
type(vec_train_data)

scipy.sparse.csr.csr_matrix

In [116]:
vec_train_data = vec_train_data.toarray()

In [117]:
vec_test_data = vectorizer.fit_transform(test_data)

In [118]:
vec_test_data = vec_test_data.toarray()

In [119]:
vec_test_data.shape

(7000, 5000)

In [120]:
vec_train_data.shape

(28000, 5000)

In [121]:
vec_train_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [122]:
vec_test_data

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.07035346, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [123]:
train_data = pd.DataFrame(vec_train_data, columns=vectorizer.get_feature_names_out())
test_data = pd.DataFrame(vec_test_data, columns=vectorizer.get_feature_names_out())

In [124]:
train_data

,abadi,abandoned,abbas,abc,abc news,abdullah,abe,abedin,ability,able,...,youtube com,ypg,zealand,zero,zika,zimbabwe,zinke,zone,zor,zuma
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.102879,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.040339,...,0.0,0.0,0.0,0.0,0.057085,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.024154,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
27996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
27997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.043416,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
27998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
27999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.062866,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

MODEL

In [127]:
from sklearn.naive_bayes import MultinomialNB

In [128]:
clf = MultinomialNB()

In [129]:
clf.fit(train_data,train_label)

MultinomialNB()

In [133]:
y_pred = clf.predict(test_data)

In [134]:
test_label

3223     1
6437     0
20144    0
5374     1
18442    1
        ..
12732    1
15049    0
20976    0
4696     1
20838    0
Name: label, Length: 7000, dtype: int64

In [136]:
from sklearn.metrics import accuracy_score

In [137]:
accuracy_score(test_label,y_pred)

0.7251428571428571

In [138]:
y_pred_train = clf.predict(train_data)

In [139]:
accuracy_score(train_label,y_pred_train)

0.94775

In [143]:
txt = "NEW YORK/WASHINGTON (Reuters) - The new U.S. tax code targets high-tax states and may be unconstitutional, New York Governor Andrew Cuomo said on Thursday, saying that the bill may violate New York residentsâ€™ rights to due process and equal protection.  The sweeping Republican tax bill signed into law by U.S. President Donald Trump on Friday introduces a cap, of $10,000,  on deductions of state and local income and property taxes, known as SALT. The tax overhaul was the partyâ€™s first major legislative victory since Trump took office in January.  The SALT provision will hit many taxpayers in states with high incomes, high property values and high taxes, like New York, New Jersey and California. Those states are generally Democratic leaning.  â€œIâ€™m not even sure what they did is legally constitutional and thatâ€™s something weâ€™re looking at now,â€ Cuomo said in an interview with CNN. In an interview with CNBC, Cuomo suggested why the bill may be unconstitutional.  â€œPolitics does not trump the law,â€ Cuomo said on CNBC. â€œYou have the constitution, you have the law, you have due process, you have equal protection. You canâ€™t use politics just because the majority controls to override the law.â€ The Fifth Amendment of the Constitution, better known for its protection against self-incrimination, also protects individuals from seizure of life, liberty or property without due process and has been interpreted by the Supreme Court as guaranteeing equal protection by the law.  Cuomo and California Governor Jerry Brown, both Democrats, have previously said they were exploring legal challenges to SALT deduction limits.  Law professors have said legal challenges would likely rest on arguing that the provision interferes with the protection of statesâ€™ rights under the U.S. Constitutionâ€™s 10th Amendment. Tax attorneys said Cuomoâ€™s legal argument against the tax bill could be that it discriminates and places an unjust tax burden on states that heavily voted for Democrats in the past - known as â€œblue states.â€ â€œThe de facto effect of this legislation is to discriminate against blue states and particularly from (Cuomoâ€™s) perspective the state of New York,â€ said Joseph Callahan, an attorney with the law firm Mackay, Caswell & Callahan in New York.  But some tax experts noted the U.S. Supreme Court has interpreted the 16th Amendment to give Congress broad latitude to tax as it sees fit. In a frequently cited 1934 decision, the Supreme Court called tax deductions a â€œlegislative graceâ€ rather than a vested right. â€œI donâ€™t understand how they think they have a valid lawsuit here,â€ David Gamage, a professor of tax law at Indiana Universityâ€™s Maurer School of Law, told Reuters last week, speaking generally about governors in blue states that could challenge the tax bill.  Cuomo also said on Thursday that New York is proposing a restructuring of its tax code. He provided no details.  A group of 13 law professors on Dec. 18 published a paper suggesting ways that high-tax states could minimize the effects of the SALT deduction cap.  Their suggestions included shifting more of the tax burden onto businesses in the form of higher employer-side payroll taxes, since the federal tax billâ€™s cap on SALT deductions only applies to individuals and not businesses. States also could raise taxes on pass-through entities, which the federal tax bill specifically benefits with a lower rate on a portion of their income. On Friday, Cuomo said he would allow state residents to make a partial or full pre-payment on their property tax bill before Jan. 1, allowing taxpapyers to deduct such payments for 2017 before the cap kicks in, prompting a wave of residents to pay early.  However, the U.S. Internal Revenue Service on Wednesday advised homeowners that the pre-payment of 2018 property taxes may not be deductible. "

In [144]:
news = clean_row(txt)

In [145]:
news

'new  york  washington  reuters  new  u  tax  code  target  high  tax  state  may  unconstitutional  new  york  governor  andrew  cuomo  said  thursday  saying  bill  may  violate  new  york  resident  right  due  process  equal  protection  sweeping  republican  tax  bill  signed  law  u  president  donald  trump  friday  introduces  cap  deduction  state  local  income  property  tax  known  salt  tax  overhaul  party  first  major  legislative  victory  since  trump  took  office  january  salt  provision  hit  many  taxpayer  state  high  income  high  property  value  high  tax  like  new  york  new  jersey  california  state  generally  democratic  leaning  even  sure  legally  constitutional  something  looking  cuomo  said  interview  cnn  interview  cnbc  cuomo  suggested  bill  may  unconstitutional  politics  trump  law  cuomo  said  cnbc  constitution  law  due  process  equal  protection  use  politics  majority  control  override  law  fifth  amendment  constitution  better  known  protection  self  incrimination  also  protects  individual  seizure  life  liberty  property  without  due  process  interpreted  supreme  court  guaranteeing  equal  protection  law  cuomo  california  governor  jerry  brown  democrat  previously  said  exploring  legal  challenge  salt  deduction  limit  law  professor  said  legal  challenge  would  likely  rest  arguing  provision  interferes  protection  state  right  u  constitution  th  amendment  tax  attorney  said  cuomo  legal  argument  tax  bill  could  discriminates  place  unjust  tax  burden  state  heavily  voted  democrat  past  known  blue  state  de  facto  effect  legislation  discriminate  blue  state  particularly  cuomo  perspective  state  new  york  said  joseph  callahan  attorney  law  firm  mackay  caswell  callahan  new  york  tax  expert  noted  u  supreme  court  interpreted  th  amendment  give  congress  broad  latitude  tax  see  fit  frequently  cited  decision  supreme  court  called  tax  deduction  legislative  grace  rather  vested  right  understand  think  valid  lawsuit  david  gamage  professor  tax  law  indiana  university  maurer  school  law  told  reuters  last  week  speaking  generally  governor  blue  state  could  challenge  tax  bill  cuomo  also  said  thursday  new  york  proposing  restructuring  tax  code  provided  detail  group  law  professor  dec  published  paper  suggesting  way  high  tax  state  could  minimize  effect  salt  deduction  cap  suggestion  included  shifting  tax  burden  onto  business  form  higher  employer  side  payroll  tax  since  federal  tax  bill  cap  salt  deduction  applies  individual  business  state  also  could  raise  tax  pas  entity  federal  tax  bill  specifically  benefit  lower  rate  portion  income  friday  cuomo  said  would  allow  state  resident  make  partial  full  pre  payment  property  tax  bill  jan  allowing  taxpapyers  deduct  payment  cap  kick  prompting  wave  resident  pay  early  however  u  internal  revenue  service  wednesday  advised  homeowner  pre  payment  property  tax  may  deductible'

In [146]:
pred = clf.predict(vectorizer.transform([news]).toarray())

c:\Users\Sridi\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  "X does not have valid feature names, but"

In [147]:
pred

array([0], dtype=int64)

###predicting the spam news

In [149]:
txt = input("ENTER THE NEWS")
news = clean_row(str(txt))

pred = clf.predict(vectorizer.transform([news]).toarray())

if pred == 0:
    print("NEWS IS CORRECT")
else:
     print("NEWS IS FAKE")

NEWS IS FAKE

c:\Users\Sridi\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  "X does not have valid feature names, but"